<!DOCTYPE html>
<html>
<head>
    <style>


        img {
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
        }
    </style>
</head>
<body bgcolor="#7f7f7f">
<div class="img-container">
    <img src="{{ asset('bundles/images/quota_banner_app.png') }}">
</div>

</body>
</html>