<!DOCTYPE html>
<html>
<head>
    <style>
        .cssDisplay {
            background-color: #7F7F7F;
            color: #FFFFFF;
            font-family: georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            font-variant: small-caps;
            line-height: 20px;
            text-align: center;
            text-shadow: 2px 1px 0px #000000;
        }
    </style>
</head>
<body bgcolor="#7f7f7f">
<div class="cssDisplay">
Welcome this is Quota!<br>
    Shared WiFi data costing system for Windows<br>
    Now,<br> You are <br>A client member <br>of "Quota" Network
</div>
</body>
</html>